@model IEnumerable<Advertisement>

@foreach (var item in Model)
{
    <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
        <div class="col-md-2">
            <a asp-controller="Advertisement" asp-action="Details" asp-route-id="@item.AdvertisementId"><img src="/@item.Image" alt="Image" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
            <span class="badge badge-primary px-2 py-1 mb-3">@item.calismasekli</span>
            <h2><a asp-controller="Advertisement" asp-action="Details" asp-route-id="@item.AdvertisementId">@item.ilanName</a> </h2>
            <p class="meta">Yetkili: <strong>Uğur Karakaş</strong></p>
        </div>
        <div class="col-md-3 text-left">
            <h3>@item.sehir</h3>
            <span class="meta">@item.ulke</span>
        </div>
        <div class="col-md-3 text-md-right">
            <ul style="list-style-type: none; padding-left: 0;">
                <li>
                    <strong class="text-black">@item.baslangicmaas₺ &mdash; @item.bitismaas₺</strong>
                </li>
                <li>
                    <span class="badge badge-primary px-2" style="background-color:red">Ortalama Maaş Miktarı</span>
                </li>
            </ul>
        </div>
    </div>
}
